@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
  font-family: sans-serif;
}

.input {
  width: 100%;
  border: 1px solid #D1D5DB; /* Tailwind gray-300 */
  border-radius: 0.5rem;     /* rounded-lg */
  padding: 0.5rem 1rem;      /* py-2 px-4 */
  outline: none;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  color: black;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5); /* ring-indigo-400 */
  border-color: rgba(99, 102, 241, 1); /* indigo-400 */
}
